.timeline {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    background-color: #DDD;
    z-index: 1
}

.event-line {
    height: 2px;
    background-color: black;
    color: black;
}
.title {
    font-family: "Times New Roman", serif;
}
.timeframe{
    margin-top:0 !important;
    margin-bottom: 0 !important;
    border-top: none !important;
    border-bottom: none !important;
    border-radius:0% !important;
}